// ============================================
// Atomic Colors
// 원시 색상값 - 의미 없는 순수 색상 토큰
// ============================================

// Base
$white: #ffffff;
$black: #000000;

// Gray
$gray10: #f8f8f9;
$gray20: #edeef0;
$gray30: #d7d9e0;
$gray40: #c2c6d0;
$gray50: #a4a9b7;
$gray60: #9397a5;
$gray70: #70737e;
$gray80: #51545c;
$gray90: #35373c;
$gray100: #1a1b1e;

// Brand
$green10: #f0fdf4;
$green20: #dcfce7;
$green30: #b9f8cf;
$green40: #7bf1a8;
$green50: #05df72;
$green60: #00c950;
$green70: #00a63e;
$green80: #008236;
$green90: #016630;
$green100: #004517;

// System
$blue10: #f7fbff;
$blue20: #eaf2fe;
$blue30: #c9defe;
$blue40: #9ec5ff;
$blue50: #69a5ff;
$blue60: #3385ff;
$blue70: #0066ff;
$blue80: #0054d1;
$blue90: #003e9c;
$blue100: #002966;

$red10: #fffafa;
$red20: #feecec;
$red30: #fed5d5;
$red40: #ffb5b5;
$red50: #ff8c8c;
$red60: #ff6363;
$red70: #ff4242;
$red80: #e52222;
$red90: #b00c0c;
$red100: #730303;

$orange10: #fffcf7;
$orange20: #fef4e6;
$orange30: #fee6c6;
$orange40: #ffd49c;
$orange50: #ffc06e;
$orange60: #ffa938;
$orange70: #ff9200;
$orange80: #d47800;
$orange90: #9c5800;
$orange100: #663a00;

// Opacity
$opacity80: 0.8;
$opacity60: 0.6;
$opacity40: 0.4;
$opacity20: 0.2;
$opacity10: 0.1;
