@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/typography/semantic" as typo;
@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/breakpoint" as bp;

.actionBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 spacing.$spacing-20;

  @include bp.breakpoint-down("xs") {
    padding: 0 spacing.$spacing-16;
  }
}

.selectAll {
  display: flex;
  align-items: center;
  gap: spacing.$spacing-6;
  cursor: pointer;
  user-select: none;
}

.selectAllText {
  @include typo.label-3;
  color: colors.$text-gray-normal;
}

.actions {
  display: flex;
  align-items: center;
  gap: spacing.$spacing-8;

  .divider {
    height: 16px;
    align-self: center;
  }
}

.leaveModal {
  max-width: 358px;
  width: 100%;
  margin: 0 spacing.$spacing-16;
}
