@use "@/styles/globals.scss" as *;
@use "@/styles/breakpoint" as bp;
@use "@/styles/tokens/spacing" as spacing;

.container {
  width: 100%;
  padding-left: spacing.$spacing-32;
  padding-right: spacing.$spacing-32;
  padding-bottom: spacing.$spacing-72;

  @include bp.breakpoint-down("md") {
    padding-left: spacing.$spacing-16;
    padding-right: spacing.$spacing-16;
  }

  @include bp.breakpoint-down("xs") {
    padding-left: spacing.$spacing-16;
    padding-right: spacing.$spacing-16;
  }

  .center {
    max-width: $max-width-container;
    width: calc(100vw - $sidebar-width - spacing.$spacing-64);
    margin: 0 auto;
    padding-top: spacing.$spacing-56;

    @include bp.breakpoint-down("md") {
      width: calc(100vw - $sidebar-width-tablet - spacing.$spacing-32);
      padding-top: spacing.$spacing-48;
    }

    @include bp.breakpoint-down("xs") {
      width: calc(100vw - spacing.$spacing-32);
      padding-top: spacing.$spacing-16;
    }
  }

  .contentSection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: spacing.$spacing-56;

    @include bp.breakpoint-down("md") {
      gap: spacing.$spacing-48;
    }

    @include bp.breakpoint-down("xs") {
      gap: spacing.$spacing-40;
    }
  }
}
