@use "@/styles/breakpoint" as bp;
@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/typography/semantic" as typo;
@use "@/styles/tokens/spacing" as spacing;

.messagesContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  gap: 6px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: colors.$surface-base;

  @include bp.breakpoint-down("xs") {
    padding: 10px 16px;
  }

  .emptyWrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dateSeparator {
    align-self: center;
    padding: spacing.$spacing-8 0;
    @include typo.label-6;
    color: colors.$text-gray-subtle;
  }

  .highlight {
    animation: bubbleFlash 1s ease;
  }

  @keyframes bubbleFlash {
    0%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0.35;
    }
  }
}
