@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/typography/semantic" as typo;
@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/breakpoint" as bp;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: spacing.$spacing-12;
}

.headerRow {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: spacing.$spacing-16;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-8;
  min-width: 0;
}

.name {
  @include typo.title-1;
  color: colors.$text-gray-bold;

  @include bp.breakpoint-down("xs") {
    @include typo.title-2;
  }
}

.actionsSlot {
  flex-shrink: 0;
}

.description {
  @include typo.label-6;
  color: colors.$text-gray-bold;
  white-space: pre-line;
}

.linkContainer {
  &:empty {
    display: none;
  }

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: spacing.$spacing-8;
}

.linkWrapper {
  display: flex;
  align-items: center;
  gap: spacing.$spacing-8;
}

.moreLinksText {
  @include typo.label-5;
  color: colors.$text-primary-normal;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
