@use "@/styles/globals.scss" as *;
@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/typography/semantic" as typo;
@use "@/styles/tokens/radius" as radius;
@use "@/styles/tokens/spacing" as spacing;

.container {
  width: 180px;
  flex-shrink: 0;

  .imageWrapper {
    width: 100%;
    aspect-ratio: 3 / 4;
    border-radius: radius.$radius-sm;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.02);
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include Drag;
  }

  .gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 33.96%, rgba(0, 0, 0, 0.6) 100%);
  }

  .title {
    position: absolute;
    bottom: spacing.$spacing-16;
    left: spacing.$spacing-12;
    color: colors.$text-white;
    @include typo.body-1-sb;
  }
}
