@use "@/styles/breakpoint" as bp;
@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  max-width: $max-width-content;
  margin: 0 auto;
  padding-top: spacing.$spacing-48;
  padding-right: spacing.$spacing-20;
  padding-left: spacing.$spacing-20;
  padding-bottom: spacing.$spacing-72;

  @include bp.breakpoint-down("xs") {
    padding: 16px;
  }
}
