@import "@/styles/globals.scss";

.toast {
  width: max-content;
  color: $gray0;
  @include Title5;
  background: rgba(53, 54, 63, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  border-radius: 16px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  position: fixed;
  top: 130px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2000;

  @include Size("mobile") {
    padding: 12px 18px 12px 12px;
    gap: 12px;
    @include Sub4;
  }

  @include Size("tablet") {
    padding: 14px 20px 14px 14px;
    gap: 14px;
    @include Sub4;
  }
}
