@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/typography/semantic" as typo;
@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/breakpoint" as bp;

.container {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-16;
  padding: spacing.$spacing-24 spacing.$spacing-20 0;

  @include bp.breakpoint-down("xs") {
    padding: spacing.$spacing-16 spacing.$spacing-16 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  @include typo.title-1;
  color: colors.$text-gray-bold;

  @include bp.breakpoint-down("xs") {
    @include typo.title-2;
  }
}

.headerButtons {
  display: flex;
  align-items: center;
  gap: spacing.$spacing-8;
  flex-shrink: 0;
}

.search {
  align-self: stretch;
  min-width: 0;
}
