@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/spacing" as spacing;

.cover {
  position: relative;
  width: 100%;
}

.thumbnail {
  border-radius: 0;
}

.emptyCover {
  width: 100%;
  aspect-ratio: 4 / 1;
  background-color: colors.$surface-gray-subtlest;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editButtons {
  position: absolute;
  top: spacing.$spacing-16;
  right: spacing.$spacing-16;
  display: flex;
  gap: spacing.$spacing-8;
  z-index: 2;
}

.overlayBtn {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);

  &:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.55);
  }
}
