@use "@/styles/breakpoint" as bp;

$full-height: calc(var(--vh, 1vh) * 100);

.container {
  --toast-offset: calc(58px + 16px);

  width: 100%;
  min-height: calc(#{$full-height} - 60px);
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  position: relative;

  @include bp.breakpoint-down("xs") {
    min-height: $full-height;
  }
}

.footer {
  flex-shrink: 0;
}
