@use "@/styles/globals.scss" as *;
@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/breakpoint" as bp;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-16;

  @include bp.breakpoint-down("xs") {
    height: calc($full-height - 64px - 130px);
  }
}

.tabs {
  display: flex;
  align-items: center;

  @include bp.breakpoint-down("xs") {
    width: 100%;

    > * {
      flex: 1;
    }
  }
}

.tabContent {
  height: 400px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(112, 115, 124, 0.16);
    border-radius: 10px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(57, 58, 61, 0.16);
  }

  @include bp.breakpoint-down("xs") {
    height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: block;
  }
}
