@use "@/styles/tokens/spacing" as spacing;

.triggerWrap {
  display: inline-flex;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
}

.optionList {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-8;
}

.desktopMenu {
  min-width: 160px;
}
