@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/breakpoint" as bp;

.infoWrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: spacing.$spacing-16;

  @include bp.breakpoint-down("xs") {
    flex-direction: column;
    gap: spacing.$spacing-12;
  }
}

.detailsContainer {
  flex: 1;
  min-width: 0;
}
