@use "@/styles/breakpoint" as bp;
@use "@/styles/tokens/spacing" as spacing;

.container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.swiper {
  width: 100%;
}

.slide {
  width: 360px;
  max-width: 360px;

  @include bp.breakpoint-down("xs") {
    width: calc(100vw - #{spacing.$spacing-32});
    max-width: none;
  }
}
