@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/typography/semantic" as typo;
@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/breakpoint" as bp;

.container {
  width: 100%;
}

.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-8;

  .title {
    @include typo.title-1;
    color: colors.$text-gray-bold;

    @include bp.breakpoint-down("xs") {
      @include typo.title-2;
    }
  }

  .description {
    @include typo.label-6;
    color: colors.$text-gray-subtle;
  }
}

.tabs {
  display: flex;
  margin-top: spacing.$spacing-24;
  border-bottom: 1px solid colors.$border-gray-subtle;

  @include bp.breakpoint-down("xs") {
    margin-top: spacing.$spacing-20;
  }
}

.datePickerContainer {
  margin: spacing.$spacing-16 0 spacing.$spacing-24;
}

.feedContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: spacing.$spacing-16;
  grid-row-gap: spacing.$spacing-40;

  @include bp.breakpoint-down("md") {
    grid-template-columns: repeat(4, 1fr);
  }

  @include bp.breakpoint-down("xs") {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: spacing.$spacing-16;
  }
}
