@import "@/styles/globals.scss";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  @include Drag;

  @include Size("mobile") {
    margin-bottom: 16px;
  }

  @include Size("tablet") {
    margin-bottom: 16px;
  }

  .subtitleContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .titleContainer {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .title {
    @include Title4;
    color: $gray80;

    @include Size("mobile") {
      @include Sub1;
    }

    @include Size("tablet") {
      @include Sub1;
    }
  }

  .subtitle {
    @include Body1;
    color: $gray60;
  }

  .btn {
    @include Body1;
    color: $gray60;
    cursor: pointer;

    @include Size("mobile") {
      @include Label2;
    }

    @include Size("tablet") {
      @include Label2;
    }
  }
}
